# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
.vercel

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# Wrangler
.wrangler
.dev.vars

# Database (exclude from git, should be created on deployment)
*.db
*.db-journal

# Documentation backups
*.md.backup
